
body {
    background-color: rgb(163, 255, 240);
}


h1 {
    color: rgb(167, 167, 236);
    font-size: 2em;
    text-align: center;
}

h2 {
    color: rgb(170, 240, 170);
    font-size: 1.75em;
    text-align: center;
}

h3 {
    color: rgb(212, 108, 108);
    font-size: 1.5em;
    text-align: center;
}

h4 {
    color: rgb(217, 243, 155);
    font-size: 1.25em;
    text-align: center;
}

