
body {
    background-color: rgb(110, 189, 117);
}


h1 {
    color: blue;
    font-size: 2em;
    text-align: center;
}

h2 {
    color: green;
    font-size: 1.75em;
    text-align: left;
}

h3 {
    color: red;
    font-size: 1.5em;
    text-align: right;
}

h4 {
    color: purple;
    font-size: 1.25em;
    text-align: justify;
}

